In [8]:
import pandas as pd
from matplotlib import pyplot as plt

data = pd.read_csv("./EX2/data/result.csv").sort_values(by="pred",ascending=False)
data

       label  pred
51243      1   1.0
42712      1   1.0
9730       1   1.0
50025      1   1.0
19638      1   1.0
...      ...   ...
56959      0   0.0
56960      0   0.0
1          0   0.0
56915      0   0.0
23         0   0.0

[56962 rows x 2 columns]

In [ ]:
data["tp_cumsum"] = (data["label"] == 1).cumsum()
data["fp_cumsum"] = (data["label"] == 0).cumsum()

total_pos = (data["label"] == 1).sum()

data["precision"] = data["tp_cumsum"] / (data["tp_cumsum"] + data["fp_cumsum"])
data["recall"] = data["tp_cumsum"] / total_pos

       label  pred  tp_cumsum  fp_cumsum  precision    recall
51243      1   1.0          1          0   1.000000  0.010204
42712      1   1.0          2          0   1.000000  0.020408
9730       1   1.0          3          0   1.000000  0.030612
50025      1   1.0          4          0   1.000000  0.040816
19638      1   1.0          5          0   1.000000  0.051020
...      ...   ...        ...        ...        ...       ...
56959      0   0.0         98      56860   0.001721  1.000000
56960      0   0.0         98      56861   0.001721  1.000000
1          0   0.0         98      56862   0.001721  1.000000
56915      0   0.0         98      56863   0.001720  1.000000
23         0   0.0         98      56864   0.001720  1.000000

[56962 rows x 6 columns]